.home-page {
  display: flex;
  height: 100vh;
  background: blueviolet;
  align-items: center;
  justify-content: center;

  .app-page {
    padding: 30px 60px;
    background: #fff;

    &__header {
      color: #2c409d;
    }
  }
}